* {
  background-color: #ddd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

div {
  padding: 1rem;
  margin: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div > h3 {
  padding: 1rem 0;
}
section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  margin-top: 2rem;
}
